<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load custom_filters %}

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
{% block title %}
HomePage
{% endblock %}
</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="{% static 'workshop_app/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'workshop_app/css/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'workshop_app/css/base.css' %}">
<link rel="stylesheet" href="{% static 'workshop_app/css/font-awesome.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

<!-- JS -->
<script src="{% static 'workshop_app/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'workshop_app/js/popper.min.js' %}"></script>
<script src="{% static 'workshop_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'workshop_app/js/toastr.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{% block extra-dependencies %}
{% endblock %}

{% block extra-custom-scripts %}
{% endblock %}

</head>


<body style="font-family:'Poppins', sans-serif;">

<!-- ================= NAVBAR ================= -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">

<div class="container-fluid">

{% if user.is_authenticated %}
<a class="navbar-brand" href="{% url 'workshop_app:index' %}">
<i class="fa fa-graduation-cap"></i> FOSSEE Workshops
</a>
{% else %}
<a class="navbar-brand" href="{{request.scheme}}://{{request.get_host}}">
<i class="fa fa-graduation-cap"></i> FOSSEE Workshops
</a>
{% endif %}

<button class="navbar-toggler"
type="button"
data-toggle="collapse"
data-target="#navbarSupportedContent">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">

<!-- LEFT MENU -->

<ul class="navbar-nav">

<li class="nav-item">
<a class="nav-link" href="/">
<i class="fa fa-home"></i> Home
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'statistics_app:public' %}">
<i class="fa fa-bar-chart"></i> Statistics
</a>
</li>

</ul>


{% if user.is_authenticated %}

<ul class="navbar-nav mr-auto">

{% if request.user|has_group:"instructor" %}
<li class="nav-item">
<a class="nav-link" href="{% url 'statistics_app:team' %}">
<i class="fa fa-line-chart"></i> Team Stats
</a>
</li>
{% endif %}

<li class="nav-item">
<a class="nav-link"
href="{% url 'workshop_app:workshop_status_instructor' %}">
<i class="fa fa-calendar"></i> Workshop Status
</a>
</li>

{% if not request.user|has_group:"instructor" %}
<li class="nav-item">
<a class="nav-link"
href="{% url 'workshop_app:propose_workshop' %}">
<i class="fa fa-plus-circle"></i> Propose Workshop
</a>
</li>
{% endif %}

<li class="nav-item">
<a class="nav-link"
href="{% url 'workshop_app:workshop_type_list' %}">
<i class="fa fa-book"></i> Workshop Types
</a>
</li>

</ul>


<!-- RIGHT MENU -->

<ul class="navbar-nav ml-auto">

<li class="nav-item mr-3">

<input class="form-control form-control-sm"
placeholder="Search...">

</li>

<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle"
href="#"
data-toggle="dropdown">

<span class="material-icons"
style="vertical-align: middle">
account_circle
</span>

<span style="vertical-align: middle">
{{user.get_full_name|title}}
</span>

</a>

<div class="dropdown-menu dropdown-menu-right">

<a class="dropdown-item"
href="{% url 'workshop_app:view_own_profile' %}">
<i class="fa fa-user"></i> Profile
</a>

<a class="dropdown-item"
href="{% url 'password_change' %}">
<i class="fa fa-lock"></i> Change Password
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item"
href="{% url 'workshop_app:logout' %}">
<i class="fa fa-sign-out"></i> Logout
</a>

</div>

</li>

</ul>

{% endif %}

</div>

</div>

</nav>


<!-- ================= PAGE CONTENT ================= -->

<div class="base-content">

<div class="container">

{% block content %}

<h1>Base Template Content</h1>

{% endblock %}

</div>

</div>


<!-- ================= TOAST MESSAGES ================= -->

<script>

{% if messages %}

{% for message in messages %}

toastr[
{% if message.tags %}
"{{ message.tags }}"
{% else %}
"info"
{% endif %}
]("{{ message }}");

{% endfor %}

{% endif %}

</script>


<!-- ================= FOOTER ================= -->

<footer class="footer text-white">

<div class="container text-center py-3">

<p>
<strong>Workshop Management System</strong>
</p>

<p>
Developed by FOSSEE Group | IIT Bombay
</p>

</div>

</footer>


</body>
</html>