{% extends "workshop_app/base.html" %}
{% load static %}

{% block title %}
Propose a workshop
{% endblock %}


{% block extra-dependencies %}
<link rel="stylesheet" href="{% static 'workshop_app/css/jquery-ui.css' %}" type="text/css"/>

<script src="{% static 'workshop_app/js/jquery-1.12.4.js' %}"></script>
<script src="{% static 'workshop_app/js/jquery-ui.min.js' %}"></script>
{% endblock %}


{% block extra-custom-scripts %}

<style>

.errorlist{
color:red;
font-weight:500;
}

.card{
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.card-header{
background:#f8f9fa;
border-bottom:0;
text-align:center;
}

.form-control{
border-radius:8px;
padding:10px;
}

.btn{
border-radius:8px;
}

.note-box{
font-size:15px;
}

</style>


<script>

var dateToday = new Date();
var upto = new Date();

dateToday.setDate(dateToday.getDate() + 3);
upto.setFullYear(dateToday.getFullYear() + 1);

$(function () {

$(".datepicker").datepicker({
changeMonth:true,
changeYear:true,
minDate:dateToday,
maxDate:upto,
beforeShowDay:$.datepicker.noWeekends
});


/* Terms & Conditions modal */

$('#disp_tnc').click(function (e){

e.preventDefault()

if($('#id_workshop_type').val()===''){

$('.modal-body').html("<p class='text-danger'>Please select a workshop type</p>")

}

else{

$.ajax({

url:'/workshop/type_tnc/' + $('#id_workshop_type').val(),

success:function(data){

$('.modal-body').html(data.tnc)

}

})

}

});


/* Improve form styling */

$("#id_workshop_type").addClass("form-control")
$("#id_date").addClass("form-control datepicker")

});

</script>

{% endblock %}



{% block content %}

<div class="container mt-5">


<div class="row justify-content-center">


<div class="col-md-6">


<!-- NOTE -->

<div class="alert alert-info text-center note-box">

<i class="fa fa-info-circle"></i>

Before proposing a workshop please check details in the  
<strong>Workshop Types</strong> section.

</div>


<!-- FORM CARD -->

<div class="card border-primary">


<div class="card-header">

<h3>
<i class="fa fa-plus-circle"></i> Propose Workshop
</h3>

</div>


<div class="card-body">


<form method="post">

{% csrf_token %}


<!-- Workshop Type -->

<div class="form-group">

<label><strong>Workshop Type</strong></label>

{{ form.workshop_type }}

</div>


<!-- Workshop Date -->

<div class="form-group">

<label><strong>Workshop Date</strong></label>

{{ form.date }}

</div>


<!-- Terms and Conditions -->

<div class="form-check mt-3">

{{ form.tnc_accepted }}

<label class="form-check-label">

I accept the  

<a href="#" id="disp_tnc" data-toggle="modal" data-target="#exampleModalCenter">

terms and conditions

</a>

</label>

</div>



<!-- Error Section -->

{% if form.errors %}

<div class="alert alert-danger mt-4">

<strong>Form Errors:</strong>

{{ form.errors }}

</div>

{% endif %}



<!-- Submit Button -->

<div class="text-center mt-4">

<button class="btn btn-success btn-lg px-4" type="submit">

<i class="fa fa-paper-plane"></i> Submit Proposal

</button>

</div>


</form>


</div>

</div>


</div>

</div>

</div>


<!-- TERMS & CONDITIONS MODAL -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

<div class="modal-dialog modal-dialog-centered" role="document">

<div class="modal-content">


<div class="modal-header">

<h5 class="modal-title" id="exampleModalLongTitle">

Terms and Conditions

</h5>

<button type="button" class="close" data-dismiss="modal">

<span>&times;</span>

</button>

</div>


<div class="modal-body">

</div>


</div>

</div>

</div>

{% endblock %}